@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@
<div>
    <p>
        The major enablers or drivers for smart parking, essentially are the problems of urban livability, transportation mobility and environment sustainability.
    </p>
    <p>
        Primarily Smart Parking technology is about enhancing the productivity levels and the service levels in operations.
    </p>
    <p>
        Some of the underlying benefits could be lowering operating costs, while building value for customer to drive occupancy, revenues and facility value.
        Finally, in the long run, smart parking can actually transform the very makeup of our urban landscapes, making them more amenable to people rather than cars.
    </p>
</div>